.form {
<<<<<<< HEAD
  display: grid;
  gap: 15px;
}

.form__field {
  display: block;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

.form__field input {
  display: block;
  width: 100%;
  padding: 5px;
}

.form__field input::placeholder {
  font-size: 16px;
  color: #aaa;
}

.form__field span {
  position: absolute;
  left: 5px;
  bottom: 4px;
  z-index: 0;
  font-size: 16px;
  color: #aaa;
}

.form__field select:checked {
  border-color: red;
}

.form__field:not(.form__field select option:checked) {
  border-color: #aaa;
}

.form__field select {
  position: relative;
  display: block;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
}

.form__checkbox {
  position: relative;
  top: 0;
  right: -20px;
}

.form__checkbox input[type="checkbox"] {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  left: -20px;
  top: 4px;
}

.form__checkbox a {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.form__submit {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 30px;
}
=======
  display: none;
}

/* .form__input {} */

/* .form__select {} */

/* .form__checkbox {} */

/* .form__submit {} */
>>>>>>> d47095d1628ec8c5e6f7fc924c6e1662720318e3
