/* reset.css */
* {
  margin: 0; /* Убирает отступы по умолчанию */
  padding: 0; /* Устанавливает внутренние отступы в ноль */
  border: 0; /* Убирает границы */
  font-size: 100%; /* Устанавливает размер шрифта на 100% базового размера */
  font: inherit; /* Наследует свойства шрифта от родительского элемента */
  vertical-align: baseline; /* Выравнивает элементы по базовой линии */
}

/* Переопределение стилей для ссылок */
a {
  color: inherit; /* наследовать цвет текста */
  text-decoration: none; /* убрать подчеркивание */
}

select,
button,
img,
input {
  margin: 0; /* Убирает отступы */
  padding: 0; /* Устанавливает внутренние отступы в ноль */
  border: none; /* Убирает границы */
  outline: none; /* Убирает обводку при фокусе */
  background: none; /* Убирает задний фон */
  font: inherit; /* Наследует свойства шрифта от родительского элемента */
  vertical-align: middle; /* Выравнивает элементы по вертикали посередине */
  cursor: pointer; /* Меняет курсор при наведении на элемент */
  box-sizing: border-box; /* Учитывает границу и внутренние отступы в общей ширине элемента */
  appearance: none; /* Убирает стандартные стили элемента */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  -ms-appearance: none; /* Для IE */
  -o-appearance: none; /* Для Opera */
}
