/* Error: Expected identifier.
 *    ,
 * 36 |     &: not(.form__field select option: checked) {
 *    |       ^
 *    '
 *   scss/features/form.scss 36:7  @import
 *   scss/index.scss 16:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 36 \2502      &: not(.form__field select option: checked) {\a    \2502        ^\a    \2575 \a   scss/features/form.scss 36:7  @import\a   scss/index.scss 16:9          root stylesheet";
}
