// border-color:
$border-color-primary: #aaa;
$border-color-secondary: #000;

// background-color:
$bg-primary: #fff;
$bg-footer: #484848;
$bg-modal: rgba(0, 0, 0, 0.5);

$text-footer-color: #fff;

// gap:
$gap-large: 30px;
$gap-small: 15px;

//border-radius:
$border-radius-primary: 20px;
$border-radius-secondary: 4px;
