/* footer */
/* .footer__info {} */
.footer {
  padding: 30px 15px;
  color: #fff;
  background: #484848;

  &__wrapper {
    display: grid;
    gap: 30px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__logo img {
    width: 216px;
    height: 23px;
  }

  &__copy {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
  }

  &__dev {
    display: flex;
    justify-content: center;

    img {
      width: 130px;
      height: 46px;
      margin-top: 10px;
    }
  }
}
